body {
  margin: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.typhoon-icon {
  animation: rotate 1.5s linear 0s infinite;
  transform-origin: center center;
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
}
